* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    
}
body {
    padding: 1em;
    background-color: #0a192f;
    
}

/**/

    span {
        color: #50ccb4;
    }
    .btn {
        padding: 1.25rem 1.75rem;
        font-size: 1em;
        color: #50ccb4;
        background: #0a192f;
        border: 1px solid #50ccb4;
    }
    h6, p {
        font-family: 'PT Mono', monospace;
    }
/**/
.header {
    
        /* background-image: linear-gradient(rgba(90, 81, 81, 0.659), rgba(79, 80, 83, 0.823)), url(../images//e.jpg);
        background-size: cover;
        height: 100vh;
        background-position: center;
        background-attachment: fixed; */
    
    height: 100vh;
}

/*  */

i {
    color: #ccd6f6;
    font-size: 1.5em;
    margin-bottom: .5em;
}
.icon {
    padding: 3em;
    position: fixed;
    margin-left: 5em;
}
.vl {
    border-left: .1em solid #ccd6f6;
    height: 50em;
    margin-left: .8em;
  }
/*  */
.navbar-nav a {
    margin-right: 1em;
}
.line:after {
    display: block;
    height: .1em;
    background-color: #50ccb4;
    content: " ";
    width: 15em;
    margin: 0 auto;

}

.header-intro,
.header-presentation {
    margin-top: 5em;
}
.header-intro h1 {
    color: #ccd6f6;
    font-size: 5em;
    
}
.header-intro h6 {
    color:  #50ccb4;
    font-family: 'PT Mono', monospace;
}

.header-intro h2 {
    color: #8892b0;
    font-size: 4.5em;
}
.header-intro p {
    color: #8892b0;
    font-size: 2em;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}


/* PROJ */
.proj-1-section img,
.proj-2-section img {
    border: 1px solid #50ccb4;
    padding: 1em;
    text-align: center;
   
}
.proj-1-section,
.proj-2-section  {
    text-align: center;
}
.box {
    background:rgb(36, 56, 59);
    padding: 1em;
    margin-top: 50%;
    margin-left: -40%;
}
.skills {
    margin-left: 50px;
}
/*  */

.header-information p
{
    font-size: 2em;
    text-align: justify;
}
.header-information h4 {
    text-align: justify;
}
.section-about,
.section-work{
    color:#ccd6f6;
    margin-top: 12em;
   
    height: 60vh;
}

.section-work {
    height: 100vh;
}

.about-me p {
    font-size: 1.5em;
    text-align: justify;
}
.header-image img {
    height: 50vh;
    border: .2em  solid #50ccb4;
    padding: 1em;
    
    
}

.header-image img:hover,
.header-image img:active {
    border: .3em  solid #50ccb4;
}


  /* On screens that are 992px or less, set the background color to blue */
  /* @media screen and (max-width: 992px) {
      html {
          font-size: 9.2px;
      }
    body {
      background-color: blue;
    }
  } */
  
  /* On screens that are 600px or less, set the background color to olive */
  /* @media screen and (max-width: 600px) {
    html {
        font-size: 10.5px;
    }
    body {
      background-color: olive;

    }
  } */

/* Smartphones (portrait and landscape) ----------- */
/* @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   
    body {
        background-color: rgb(177, 177, 163);
  
      }
    } */
    
    /* Smartphones (landscape) ----------- */
    @media only screen and (min-width : 321px) {
        /* html {
            font-size: 9px;
        }
        body {
            background-color: rgb(17, 141, 114);
      
          } */
        
    }
    
    /* Smartphones (portrait) ----------- */
    @media only screen and (max-width : 320px) {
    /* Styles */
    }
    
    /* iPads (portrait and landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
        body {
            background-color: rgb(36, 56, 59);
      
          }
    }
    
    /* iPads (landscape) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    /* Styles */
    }
    
    /* iPads (portrait) ----------- */
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    /* Styles */
    }
    /**********
    iPad 3
    **********/
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    /* Desktops and laptops ----------- */
    @media only screen  and (min-width : 1224px) {
    /* Styles */
    }
    
    /* Large screens ----------- */
    @media only screen  and (min-width : 1824px) {
        html {
            font-size: 15px;
        }
        .header {
            height: ;
        }
    }
    
    /* iPhone 4 ----------- */
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    /* Styles */
    }
    
    /* iPhone 5 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        html {
           font-size: 12px;
        }
        body {
            background-color: red;
        }
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
        html {
            font-size: 9px;
        }
        body {
            background: red;
        }
    }
    
    /* iPhone 6, 7, 8 ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
        html {
            font-size: 8px;
        }
        body {
            background: green;
        }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    html {
        font-size: 10.2px;
    }
    body {
        background: green;
    }
    }
    
    /* iPhone 6+, 7+, 8+ ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */

    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    body {
        background: violet;
    }
    }
    
    /* iPhone X ----------- */
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
  html {
      font-size: 8.8px;
  }
    body {
        background: orangered;
    }
    }
    
    @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    html {
        font-size: 11.5px;
    }
    body {
        background: orangered;
    }
    }
    
    /* iPhone XS Max, XR ----------- */
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S3 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    /* Styles */
    }
    
    /* Samsung Galaxy S4 ----------- */
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    /* Samsung Galaxy S5 ----------- */
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    
    @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    /* Styles */
    }
    